# DB env
DB_NAME=tgReader
DB_USER=postgres
DB_PASSWORD=1234

# Telegram bot token
BOT_TOKEN=secret_key

# 587 Gmail || 465 Yandex
SMTP_PORT=587
SMTP_HOST=smtp.example.com
SMTP_USER=your_user
SMTP_PASS=your_pass
SMTP_SECURE=true

MAIL_FROM="bot@example.com"
MAIL_TO="you@example.com"

# Ключ для шифрования
REPORT_SECRET=your_secret_key
